* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout-nav-a {
  float: right;
  margin-left: 15px;
}

.nav-right {
  float: right;
}

.header-link {
  text-decoration: none;
  color: black;
  margin-right: 10px;
  font-weight: bold;
}

.nav-right.header-link {
  margin-left: 10px;
  margin-right: 0px;
  cursor: pointer;
}

#layout-header {
  background-color: rgb(235, 155, 52);
  height: 70px;
  padding: 20px;
  display: grid;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
}

.content {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.content-table {
  width: 100%;
  border-collapse: collapse;
}

td, 
th {
  text-align: center;
  border-bottom: 2px solid black;
}

td {
  height: 50px;
}

th {
  height: 30px;
  color: white;
}

.table-4-columns {
  width: 25%;
}

.list-add-new-title, 
.edit-advertisement-link {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: black;
  font-weight: bold;
}

.edit-advertisement-link {
  display: block;
  margin-bottom: 20px;
}

a {
  color: black;
}

textarea, 
input {
  padding: 5px;
}

.advertisement-page-title, 
.dog-page-name, 
.advertisement-edit-page-title, 
.advertisement-post-page-title,
.user-page-username,
.edit-profile-page-title,
.login-page-title,
.register-page-title {
  font-size: 20px;
  font-weight: bold;
}

.advertisement-edit-page-title, 
.advertisement-post-page-title,
.user-page-username,
.user-page-edit-button,
.advertisement-title-p, 
.dog-page-name, 
.advertisement-edit-page-buttons-div, 
.advertisement-post-page-buttons-div,
.edit-profile-buttons-div,
.edit-profile-page-title,
.login-page-title,
.register-page-title,
.register-page-button-div {
  margin-bottom: 20px;
}

button {
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.edit-advertisement-delete-button,
.edit-profile-delete-button,
.checkbox-to-the-right {
  margin-left: 10px;
}

thead {
  background-color: black;
}
