* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Remove arrows from number inputs */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Screenreader labels */
.off-screen {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


.top-spacer {
  margin-top: 8px;
  display: inline-block;
}

#header-nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.layout-nav-a {
  float: right;
  margin-left: 15px;
}

.nav-right {
  float: right;
}

.nav-right-span {
  margin-left: auto;
}

.new-page-input-span {
  float: right;
}

.menu-icons {
  font-size: 23px;
}

.new-page-input {
  width: 70px;
  margin-right: 10px;
}

.header-link {
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
}

.nav-right.header-link {
  margin-left: 10px;
  margin-right: 0px;
  cursor: pointer;
}

#layout-header {
  height: 100px;
  padding: 20px;
  display: grid;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  border-bottom: 2px solid lightgrey;
  background-color: rgb(255, 248, 240);
}

.header-hover:hover {
  color: rgb(235, 155, 52);
  cursor: pointer;
}

.orange-background {
  color: black;
  padding: 10px;
  padding-top: 4px;
  padding-bottom: 6px;
  border-radius: 20px;
  border: 2px solid transparent;
}

.orange-background:hover {
  border: 2px solid rgb(235, 155, 52);
  color: rgb(235, 155, 52);
}

.content {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.content-table {
  width: 100%;
  border-collapse: collapse;
}

td, 
th {
  text-align: center;
}

td {
  height: 50px;
  border-bottom: 1px solid lightgray;
}

th {
  height: 30px;
  color: white;
}

.list-add-new-title, 
.edit-advertisement-link,
.litters-page-add-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: black;
  font-weight: bold;
}

.edit-advertisement-link {
  display: block;
  margin-bottom: 20px;
}

a {
  color: black;
}

.orange-link {
  text-decoration: none;
  color: rgb(235, 155, 52);
}

.grey-link {
  text-decoration: none;
  color: grey;
}

textarea, 
input {
  padding: 5px;
}

.advertisement-page-title, 
.dog-page-name, 
.advertisement-edit-page-title, 
.advertisement-post-page-title,
.user-page-username,
.edit-profile-page-title,
.login-page-title,
.register-page-title,
.register-dog-title,
.edit-dog-page-title,
.register-litter-page-title,
.conversation-page-username-title {
  font-size: 20px;
  font-weight: bold;
}

.dog-profile-picture,
.user-profile-picture {
  border-radius: 50%;
}

.advertisement-picture {
  border-radius: 7px;
  max-width: 150px;
  max-height: 150px;
}

input[type="file"] {
  display: none;
}

.litter-parents-div {
  display: grid;
  grid-template-columns: 160px 150px auto;
  padding-bottom: 10px;
}

.litter-mother-span {
  width: 150px;
  display: grid;
  justify-content: center;
  text-align: center;
}

.litter-father-span {
  width: 150px;
  display: grid;
  justify-content: center;
  text-align: center;
}

.litter-div {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: auto 100px;
}

.conversation-div {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.user-location-span,
.conversation-message-span {
  float: right;
}

.conversation-link {
  text-decoration: none;
}

.litter-link-span {
  float: right;
  text-align: center;
  display: flex;
  align-items: center;
  height: 100%;
}

.eye-view {
  color: black;
  text-decoration: none;
}

.eye-view:hover {
  color: rgb(235, 155, 52);
}

.dog-div, 
.user-div,
.advertisement-div,
.report-div {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 150px auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.user-div {
  grid-template-columns: 75px auto;
}

.report-div {
  grid-template-columns: auto auto;
}

.report-div-reporter {
  text-align: right;
}

.dog-div:hover, 
.advertisement-div:hover,
.litter-div:hover,
.conversation-div:hover,
.user-div:hover,
.report-div:hover {
  background-color: rgb(255, 248, 240);
}

.litter-div-info {
  display: grid;
  align-items: center;
}

.dog-div-image,
.user-div-image,
.advertisement-div-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dog-div-info,
.user-div-info,
.advertisement-div-info {
  padding-left: 10px;
  position: relative;
}

.label-file-input {
  cursor: pointer;
  margin-right: 10px;
}

.upload-message {
  font-size: 12px;
}

.advertisement-edit-page-title, 
.advertisement-post-page-title,
.user-page-username,
.user-page-edit-button,
.advertisement-title-p, 
.advertisement-edit-page-buttons-div, 
.advertisement-post-page-buttons-div,
.edit-profile-buttons-div,
.edit-profile-page-title,
.login-page-title,
.register-page-title,
.register-page-button-div {
  margin-bottom: 20px;
}

.user-page-edit-button {
  float: right;
}

.pagination-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.black-button {
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.black-button:hover {
  background-color: rgb(235, 155, 52);
}

.edit-advertisement-delete-button,
.edit-profile-delete-button,
.edit-dog-delete-button,
.checkbox-to-the-right,
.search-icon-right,
.send-message-button {
  margin-left: 10px;
}

.report-message-button {
  border: none;
  background-color: transparent;
  margin-right: 5px;
  cursor: pointer;
}

thead {
  background-color: black;
}

.message-time {
  font-size: 8px;
}

.message-text {
  padding: 5px;
  border-radius: 5px;
}

.family-tree-title,
.main-dog-info-title {
  font-size: 18px;
}

select {
  padding: 5px;
  width: 300px;
}

.three-hundred {
  width: 300px;
}

.conversation-page-message-input-div {
  position: absolute;
  bottom: 20px;
}

.conversation-page-messages-div {
  overflow-y: auto;
  height: calc(100vh - 245px);
}

.instagram-icon {
  fill: rgb(223, 119, 203);
}

.facebook-icon {
  fill: rgb(32, 88, 255);
}

.youtube-icon {
  fill: rgb(255, 0, 0);
}

.instagram-icon,
.facebook-icon,
.youtube-icon,
.tiktok-icon {
  margin-right: 5px;
}

.search-icon-right {
  cursor: pointer;
  background-color: rgb(235, 155, 52);
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
}

.search-button {
  margin-right: 10px;
}

.dropdown-links {
  position: fixed;
  top: 100px;
  z-index: 1;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: white;
  padding-top: 20px;
}

.nav-dropdown {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid lightgray;
}

@media (max-width: 1000px) {
  .content {
    grid-template-columns: none;
  }

  #layout-header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 440px) {
  select, .three-hundred {
    width: calc(100vw - 40px);
  }
}
